# Dependências do Node
node_modules

# Caches das ferramentas de código
.php-cs-fixer.cache
.phpcs.cache

# Relatórios e arquivos temporários
relatorio.md
relatorio.html
relatorio.txt
relatorio.csv
relatorio.json
phpcs_output.json