# Dependências do Node
node_modules

# Dependências do Composer
vendor
composer-audit.json

# Caches das ferramentas de código
.php-cs-fixer.cache
.phpcs.cache

# Relatórios e arquivos temporários
relatorio.md
relatorio.html
relatorio.txt
relatorio.csv
relatorio.json
phpcs_output.json

#outros
cookie.txt
gerar_relatorio.php
fix-except.ps1
teste.php
GUIA_GIT.md
GUIA_GIT_V2.md
GUIA_GIT_V3.md
.crossnote
.vscode
server.js
guia_git_interativo.html
Documentos
git_loop.ps1
phpcs.xml
.php-cs-fixer.php